{% load add_css %}

<form action="/projects/create" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="mb-3">
        {{ form.name.errors }}
        {{ form.name.label_tag }}*
        {{ form.name|add_css:'form-control' }}
        <span>{{ form.subject.help_text }}</span>
    </div>
    <div class="mb-3">
        {{ form.description.errors }}
        {{ form.description.label_tag }}
        {{ form.description|add_css:'form-control textarea-sm' }}
        <span>{{ form.subject.help_text }}</span>
    </div>
    <div class="mb-3">
        {{ form.image.errors }}
        {{ form.image.label_tag }}*
        {{ form.image|add_css:'form-control' }}
        <span>{{ form.subject.help_text }}</span>
    </div>
    <div class="mb-3">
        {{ form.repository_url.errors }}
        {{ form.repository_url.label_tag }}
        {{ form.repository_url|add_css:'form-control' }}
        <span>{{ form.subject.help_text }}</span>
    </div>
    <div class="d-flex mt-3 mb-3 justify-content-end">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <button class="btn btn-primary w-100" type="submit">Create</button>
                </div>
            </div>
        </div>

    </div>
</form>